<!--Navigation-->

<!--
To add new links, follow the example below (and activate it it by removing the arrowy things!) Copy and paste as many times as needed, but bear in mind that the bar can get rather crowded quickly.
-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/posts" | relative_url }}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/filter" | relative_url }}">Filter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/Week1" | relative_url }}"> <font color="red">Week 1</font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/Week2" | relative_url }}">Week 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/Week3" | relative_url }}">Week 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/Week4" | relative_url }}">Week 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/Week5" | relative_url }}">Week 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/Week6" | relative_url }}">Week 6</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/Week7" | relative_url }}">Week 7</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/Week8" | relative_url }}">Week 8</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/Week9" | relative_url }}">Week 9</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/Week10" | relative_url }}">Week 10</a>
        </li>

<!--
        <li class="nav-item">
          <a class="nav-link" href="http://example.com">link text</a>
        </li>
-->
      </ul>
    </div>
  </div>
</nav>
