---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }}</p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>

  <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Class Schedule</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Week 1</a>
    <a href="#">Week 2</a>
    <a href="#">Week 3</a>
    <a href="#">Week 4</a>
    <a href="#">Week 5</a>
    <a href="#">Week 6</a>
    <a href="#">Week 7</a>
    <a href="#">Week 8</a>
    <a href="#">Week 9</a>
    <a href="#">Week 10</a>
  </div>
</div>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Reading</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Article 17, Mexican Constiution</a>
  </div>
</div>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Primary Sources</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
